@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?iclchv');
  src:  url('../fonts/icomoon.eot?iclchv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?iclchv') format('truetype'),
    url('../fonts/icomoon.woff?iclchv') format('woff'),
    url('../fonts/icomoon.svg?iclchv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
    font-size: xx-large;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Basketball-ball_1:before {
  content: "\e900";
}
.icon-bike:before {
  content: "\e901";
}
.icon-Bycicle-racer:before {
  content: "\e904";
}
.icon-Card-Game-Poker:before {
  content: "\e902";
}
.icon-Clocks_1:before {
  content: "\e905";
}
.icon-Football-ball_1:before {
  content: "\e903";
}
.icon-King:before {
  content: "\e906";
}
.icon-Runner_1:before {
  content: "\e907";
}
.icon-Swimmer:before {
  content: "\e908";
}
.icon-Volleyball-ball_1:before {
  content: "\e909";
}
